.calendar-view {
    width: 100%;
}

.calendar-monthly .days {
    border: 1px solid #ddd;
}

.widget {
    width: 14em !important;
}

.widget .days {
    width: 2em;
    height: 2em;
}

.widget .days.current-month .btn {
    font-weight: bold;
}

.widget .nav .btn {
    padding: 0.25em !important; /* Reduced padding and added !important */
    width: 1.5em !important;      /* Fixed width */
    height: 1.5em !important;     /* Fixed height */
    display: inline-flex;       /* Use flexbox for centering content */
    justify-content: center;    /* Center horizontally */
    align-items: center;        /* Center vertically */
}

.widget .days .btn {
    width: 1.5em !important;      /* Fixed width */
    height: 1.5em !important;     /* Fixed height */
    border-radius: .75em !important; /* Make circle (1/2 height & width)*/
    display: inline-flex;       /* Use flexbox for centering content */
    justify-content: center;    /* Center horizontally */
    align-items: center;        /* Center vertically */
}
