$primary:       #00916E;
$secondary:     #C7F2A7;
$success:       #2274A5;
$info:          #9D8DF1;
$warning:       #FFBF00;
$danger:        #E83F6F;
$light:         #EBE9E9;
$dark:          #1B1B3A;

$theme-colors: (
	"primary":    $primary,
	"secondary":  $secondary,
	"success":    $success,
	"info":       $info,
	"warning":    $warning,
	"danger":     $danger,
	"light":      $light,
	"dark":       $dark
);

// REQUIRED
@import "../../node_modules/bootstrap/scss/bootstrap";

