$primary:       #7E1F86;
$secondary:     #9D79BC;
$success:       #9CD08F;
$info:          #7FC8F8;
$warning:       #E0CA3C;
$danger:        #D72638;
$light:         #F7FFF7;
$dark:          #160F29;

$theme-colors: (
	"primary":    $primary,
	"secondary":  $secondary,
	"success":    $success,
	"info":       $info,
	"warning":    $warning,
	"danger":     $danger,
	"light":      $light,
	"dark":       $dark
);

// REQUIRED
@import "../../node_modules/bootstrap/scss/bootstrap";

