html, body {
	width: 100%;
	height: 100%;
}

#root {
	width: 100%;
	height: 100%;
}

.vtext {
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

.w-0 {
	width: 0px !important;
}

.horizontal-collapsible-content {
	transition: width 1s ease, opacity 0.3s ease;
	overflow: hidden;
}

.horizontal-collapsible-content.collapsing {
	height: auto;
	width: 0px !important;
	overflow: hidden;
}

.horizontal-collapsible-content:not(.show) {
    display: block !important;
	width: 0px !important;
}