html, body {
	width: 100%;
	height: 100%;
}

* {
	transition: background-color 1.0s ease, color 1.0s ease;
}

#root {
	width: 100%;
	height: 100%;
}

.vtext {
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

.w-0 {
	width: 0px !important;
}

.horizontal-collapsible-content {
	transition: width 1s ease, opacity 0.3s ease;
	overflow: hidden;
}

.horizontal-collapsible-content.collapsing {
	height: auto;
	width: 0px !important;
	overflow: hidden;
}

.horizontal-collapsible-content:not(.show) {
    display: block !important;
	width: 0px !important;
}

.modal-dialog {
	max-width: 75%;
	max-height: 75%;
}

.btn-link {
	color: inherit;
	text-decoration: none;
  }
  
.btn-link:hover {
	color: inherit;
	text-decoration: none;
}

.dropdown-menu {
	display: block;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.0s ease, visibility 0s 1.0s;
  }
  
.dropdown-menu.show {
	visibility: visible;
	opacity: 1;
	transition: opacity 1.0s ease, visibility 0s 0s;
}

.topmenu .dropdown-menu{
	color: var(--topmenu-text-color);
	background-color: var(--topmenu-bg-color);
}

.topmenu.dropend {
	display: flex;
	flex: 1 1 auto;
	/* visibility: hidden; */
	opacity: 1;
	transition: opacity 1.0s ease, visibility 0s 0s;
}

.topmenu.dropend .dropdown-toggle{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
	color: var(--topmenu-text-color);
	text-decoration: none;
}

.topmenu.dropend .dropdown-toggle::after {
    margin-left: auto;
    margin-right: 0;
}

.sidebar .accordion{
	box-sizing: border-box;
	background-color: var(--sidemenu-accordion-color);
	border-top: 2px solid var(--sidemenu-border-color);
	border-bottom: 2px solid var(--sidemenu-border-color);
	border-left: 0px solid var(--sidemenu-border-color);
	border-right: 0px solid var(--sidemenu-border-color);
	height: 100%;
}

.sidebar .accordion-item {
	border: 0px solid #fff;
}

.sidebar .accordion-button{
	color: var(--sidemenu-text-color);
	background-color: var(--sidemenu-bg-color);
	border: 0px solid #fff;
}

.sidebar .accordion-item:first-of-type > .accordion-header .accordion-button {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	box-shadow: none;
}

.sidebar .accordion-item:first-of-type > .accordion-header .accordion-button:focus {
	box-shadow: none;
}
.sidebar .card {
	border: 0px solid #fff;
}

.sidebar .list-group-item {
	border-color: var(--sidemenu-border-color);
}

.custom-tabs .nav-tabs .nav-link {
    color: var(--tab-text-color);
    background-color: transparent;
    border: none;
    padding: 10px;
    font-weight: bold;
}

.custom-tabs .nav-tabs .nav-link.active {
    color: var(--tab-active-text-color);
    background-color: var(--tab-active-bg-color);
    border-bottom: 2px solid var(--tab-active-border-color);
}

.custom-tabs .nav-tabs .nav-link:hover {
    color: var(--tab-hover-text-color);
}