html, body {
	width: 100%;
	height: 100%;
}

* {
	transition: background-color 1.0s ease, color 1.0s ease;
}

#root {
	width: 100%;
	height: 100%;
}

.vtext {
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

.w-0 {
	width: 0px !important;
}

.horizontal-collapsible-content {
	transition: width 1s ease, opacity 0.3s ease;
	overflow: hidden;
}

.horizontal-collapsible-content.collapsing {
	height: auto;
	width: 0px !important;
	overflow: hidden;
}

.horizontal-collapsible-content:not(.show) {
    display: block !important;
	width: 0px !important;
}

.modal-dialog {
	max-width: 75%;
	max-height: 75%;
}

.btn-link {
	color: inherit;
	text-decoration: none;
  }
  
.btn-link:hover {
	color: inherit;
	text-decoration: none;
}

.dropdown-menu {
	display: block;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.0s ease;
  }
  
.dropdown-menu.show {
	visibility: visible;
	opacity: 1;
}