html, body {
	width: 100%;
	height: 100%;
}

#root {
	width: 100%;
	height: 100%;
}

.vtext {
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

.w-0 {
	width: 0px !important;
}

.collapsible-content {
	transition: width 1s ease, height 0.3s ease, opacity 0.3s ease;
	overflow: hidden;
}

.collapsing {
	height: auto;
	width: 0px !important;
	overflow: hidden;
}

.collapse.show {
	display: block;
}

.collapsible-content:not(.show) {
    display: block !important;
	width: 0px !important;
}